* {
	margin: 0;
	padding: 0;
}

body {
	/* 禁止选中文字 */
	-webkit-user-select: none;
	font-family: helvetica;
	/* 禁止横竖屏切换时字体大小的改变 */
	-webkit-text-size-adjust: 100%;
}

a,
input,
button {
	/* 去掉按下的阴影 */
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input,
button,
select,
textarea {
	outline: none;
	/* 去掉iOS 自带的圆角 */
	-webkit-appearance: none;
	border-radius: 0;
}

input {
	border: none;
}

input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none;
}

a {
	text-decoration: none;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

img {
	vertical-align: top;
}

h1 {
	margin: 0;
}