body {
  background: #EFEFEF;
}
.topPart {
  background: #34CC92;
  color: white;
}
#sales {
  text-align: center;
}
#tip {
  position: relative;
  background: #51D4A3;
  font-size: 0.625rem;
  line-height: 1.25rem;
  text-align: left;
  text-indent: 0.1875rem;
  display: block;
  color: white;
}
#close {
  display: block;
  position: absolute;
  right: 0.3125rem;
  top: 0;
  bottom: 0;
  line-height: 1.25rem;
  font-size: 0.5625rem;
}
.saleNum {
  margin-top: 0.8125rem;
  font-size: 1.5625rem;
}
.desc {
  margin: 0.8125rem 0;
  font-size: 0.75rem;
}
.goal {
  font-size: 0.75rem;
  line-height: 1.125rem;
}
.goal .txt {
  display: flex;
  display: -webkit-box;
}
.goal .txt span {
  display: block;
  -webkit-box-flex: 1;
  flex-grow: 1;
}
.goal .txt span:nth-of-type(1) {
  text-align: left;
  text-indent: 0.3125rem;
}
.goal .txt span:nth-of-type(2) {
  text-align: right;
  padding-right: 0.3125rem;
}
.goal .wrap {
  margin: 0.3125rem;
  padding: 0.15625rem;
  background: white;
  height: 0.5rem;
  border-radius: 0.625rem;
}
.goal .progress {
  width: 6.25rem;
  background: #34CC92;
  height: 0.5rem;
  border-radius: 0.3125rem;
}
.sale {
  padding: 0.5rem 0;
  display: flex;
  display: -webkit-box;
  text-align: center;
  font-size: 0.75rem;
  line-height: 1.25rem;
}
.sale span,
.sale .salePurpose {
  display: block;
  padding: 0.125rem 0;
}
.sale .salePurpose {
  position: relative;
  color: white;
}
.sale #edit {
  position: absolute;
  right: 1.25rem;
  line-height: 1.25rem;
  font-size: 0.75rem;
}
.sale .count {
  font-size: 0.875rem;
}
.sale div {
  -webkit-box-flex: 1;
  flex-grow: 1;
}
.middlePart {
  height: 12.25rem;
}
.rows {
  display: -webkit-box;
  display: flex;
  padding: 0.9375rem 0 0 0;
  -webkit-box-pack: justify;
  justify-content: space-around;
}
.rows div {
  position: relative;
  width: 2.8125rem;
  height: 2.8125rem;
  box-sizing: border-box;
  border: 1px solid darkgrey;
  border-radius: 1.5625rem;
  background: white;
  text-align: center;
  display: table;
}
.rows div a {
  display: table-cell;
  vertical-align: middle;
  color: black;
  font-size: 0.5625rem;
  padding: 0.3125rem;
}
.rows div .badge {
  position: absolute;
  height: 0.5rem;
  min-width: 0.5rem;
  max-width: 1.5625rem;
  padding: 0.0625rem;
  color: white;
  border-radius: 0.3125rem;
  top: 0rem;
  left: 2.375rem;
  font-size: 0.4375rem;
  background: #D32828;
  text-overflow: ellipsis;
  overflow: hidden;
}
.rows .empty {
  border: none;
  background: #F1F1F1;
}
.bottomPart {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  display: -webkit-box;
}
.bottomPart a {
  display: block;
  -webkit-box-flex: 1;
  flex-grow: 1;
  text-align: center;
  line-height: 2.75rem;
  height: 2.75rem;
  font-size: 0.75rem;
  background: white;
  color: #34CC92;
}
.bottomPart .active {
  background: #34CC92;
  color: white;
}
