body {
  background: #EFEFEF;
}
.wrap {
  margin-top: 0.625rem;
}
.wrap li {
  height: 2.5rem;
  border-bottom: 0.0625rem solid #d8d8d8;
  background: url(../../Images/com.png) #ffffff no-repeat;
  background-position: 0.5rem 0.46875rem;
  background-size: 1.5625rem 1.5625rem;
}
.wrap li .name {
  padding-top: 0.1875rem;
  padding-left: 2.5625rem;
  float: left;
}
.wrap li p {
  padding: 0;
  margin: 0;
}
.wrap li .check {
  float: right;
  width: 1.875rem;
  height: 2.5rem;
  line-height: 2.5rem;
  color: lightblue;
}
.wrap li .name .title {
  font-size: 0.75rem;
  color: black;
  line-height: 1.25rem;
}
.wrap li .name .subTitle {
  font-size: 0.625rem;
  color: #737377;
  line-height: 0.9375rem;
}
.wrap .addCompany {
  background: url(../../Images/add.png) #ffffff no-repeat;
  background-position: 0.5rem 0.46875rem;
  background-size: 1.5625rem 1.5625rem;
}
.wrap .addCompany a {
  display: block;
  font-size: 0.75rem;
  color: #34CC92;
  border-bottom: none;
  height: 2.5rem;
  line-height: 2.5rem;
  padding-left: 2.5625rem;
}
.bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2.25rem;
  line-height: 2.25rem;
  background: #34CC92;
  color: white;
  font-size: 0.75rem;
  text-align: center;
}
