body {
  background: #F1F1F1;
}
.header {
  margin: 0.5rem 0.25rem 0.5rem 0.25rem;
  height: 1.5rem;
}
.storeCode,
.counterCode {
  background: white;
  border: none;
  height: 1.5rem;
  text-indent: 0.3125rem;
  border-radius: 0.3125rem;
  float: left;
  font-size: 0.6875rem;
}
.storeCode {
  width: 11.5rem;
  margin-right: 0.25rem;
}
.counterCode {
  width: 3.75rem;
}
.wrap .topDesc {
  border-bottom: 0.0625rem solid #cdcdcd;
}
.wrap li {
  background: white;
  margin-bottom: 0.3125rem;
  font-size: 0.625rem;
}
.wrap li .store {
  padding: 0.625rem;
}
.wrap li .store .storeName {
  text-overflow: ellipsis;
  white-space: normal;
}
li .detail {
  color: #737377;
}
.bottomDesc div,
li .detail div {
  height: 1.5rem;
  line-height: 1.5rem;
  font-size: 0.625rem;
}
.wrap li .grey {
  background: #EFEFEF;
}
.wrap li a {
  color: black;
}
.wrap li div .left {
  float: left;
  padding-left: 0.625rem;
}
.wrap li div .right {
  float: right;
  padding-right: 0.625rem;
}
