body {
  background: #EFEFEF;
}
.top {
  background: #34CC92;
  padding: 0.625rem;
  text-align: center;
}
.top .icon {
  margin: auto;
  width: 4rem;
  height: 4rem;
  border-radius: 2rem;
  background: url(../../Images/我的信息/icon.png) #ffffff no-repeat;
  background-size: 60% 60%;
  background-position: 50% 40%;
}
.top .companyName {
  font-size: 0.875rem;
  color: white;
  padding-top: 0.625rem;
}
.content {
  margin-top: 0.625rem;
  font-size: 0.75rem;
  color: black;
  margin-bottom: 5rem;
}
.content li {
  margin-bottom: 0.125rem;
  position: relative;
  line-height: 2.0625rem;
  height: 2.0625rem;
}
.content li:nth-of-type(1) {
  background: #ffffff url(../../Images/我的信息/account.png) no-repeat;
  background-position: 0.46875rem 0.46875rem;
  background-size: 1.125rem 1.125rem;
}
.content li:nth-of-type(2) {
  background: #ffffff url(../../Images/我的信息/store.png) no-repeat;
  background-position: 0.46875rem 0.46875rem;
  background-size: 1.125rem 1.125rem;
}
.content li:nth-of-type(3) {
  background: #ffffff url(../../Images/我的信息/exchange.png) no-repeat;
  background-position: 0.46875rem 0.46875rem;
  background-size: 1.125rem 1.125rem;
}
.content li a {
  color: black;
}
.content li span {
  position: absolute;
}
.content li .title {
  left: 2.25rem;
}
.content li .detail {
  right: 1.375rem;
  line-height: 2.0625rem;
  height: 2.0625rem;
  top: 0;
  bottom: 0;
}
#logOut {
  margin: auto;
  background: #D32828;
  color: white;
  width: 9.375rem;
  font-size: 0.75rem;
  height: 2.1875rem;
  line-height: 2.1875rem;
  text-align: center;
  border-radius: 0.1875rem;
}
